.header{
    background: rgb(118, 121, 143);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
li{
    list-style: none;

}
.nav{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    margin-left: 1.5rem;
}
.icon{
    display: none;
}
@media screen and (max-width:1200px) {
    .icon{
        display: block;
    }
    .menu-icon{
        width: 3rem;
        color: #fff;
    }
    .ul{
        display: block;
        position: absolute;
        top: 8rem;
        right: 0;
        /* transform: translateX(0); */
        background: rgb(30, 38, 65);
        width: 30rem;
        height: calc(100vh - 8rem);
        text-align: center;
        transition: .3s all;
        z-index: 33;
    }
    .menu{
       transform: translateX(60rem);
       display: none;
    }
    li{
        width: full;
        border-bottom:.1rem solid gray;
        margin: 1rem 0;
        padding: 1.3rem 0;
        display: flex;
        justify-content: center;
        transition: .3s ease;
    }
    li:hover{
        background: rgb(21, 28, 52);

    }
    .nav{
        margin:0 auto;
        text-align: center ;
        display: block;
        color: #fff;
    }
    .nav:hover{
        color: #fff;
    }
}

